<!DOCTYPE html>

<html>
	<head>
		<title>LXA Gallery Fall2015 Page</title>
		<meta charset="utf-8"/>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="nav">
	    <ul>
	      <li><a href="index">Home</a>
	        <ul>
	          <li><a href="minutes">LXA Minutes</a></li>
	          <li><a href="highzetareport">High Zeta Reports</a></li>
	        </ul>
	      </li>
	      <li><a href="calendar">Calendar</a></li>
	      <li><a href="fall2015">Gallery</a>
	        <ul>
	          <li><a href="#">Fall 2010</a></li>
	            <li><a href="#">Spring 2011</a></li>
	            <li><a href="#">Fall 2011</a></li>
	            <li><a href="#">Spring 2012</a></li>
	            <li><a href="#">Fall 2012</a></li>
	            <li><a href="#">Spring 2013</a></li>
	            <li><a href="#">Fall 2013</a></li>
	            <li><a href="#">Spring 2014</a></li>
	            <li><a href="#">Fall 2014</a></li>
	            <li><a href="#">Spring 2015</a></li>
	            <li><a href="fall2015">Fall 2015</a></li>
	        </ul>
	      </li>

	      <li><a href="actives">Roster</a>
	        <ul>
	            <li><a href="actives">Actives</a></li>
	            <li><a href="officers">Officers</a></li>
	            <li><a href="brothers">Brothers</a></li>
	        </ul>
	      </li>

	      <li><a href="chatroom">Chatroom</a></li>

	      <li class="right-side">
	        <a href="login">My Account</a>
	        <ul>
	          <li><a href="profile">Profile</a></li>
	          <li><a href="#">Sign Off</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>

		<div id="main">
			<div class="img">
				<a target="_blank" href="pics/image1.jpg">
				<img src="pics/image1.jpg" alt="Picture">
				</a>
				<div class="desc">Group photo after football beta event</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image2.jpg">
				<img src="pics/image2.jpg" alt="Picture">
				</a>
				<div class="desc">Potential Fall 2015 AMs posing in a group photo</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image4.jpg">
				<img src="pics/image4.jpg" alt="Picture">
				</a>
				<div class="desc">Brother Stevens had a little too much (lemonade) to drink</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image5.jpg">
				<img src="pics/image5.jpg" alt="Picture">
				</a>
				<div class="desc">Brother Daryanani as dashing as ever</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image6.jpg">
				<img src="pics/image6.jpg" alt="Picture">
				</a>
				<div class="desc">Brother Krush slightly as dashing as ever</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image7.jpg">
				<img src="pics/image7.jpg" alt="Picture">
				</a>
				<div class="desc">Brother AG is diggin' that sunset</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image8.jpg">
				<img src="pics/image8.jpg" alt="Picture">
				</a>
				<div class="desc">"Yeah the bathroom is over...there"</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image9.jpg">
				<img src="pics/image9.jpg" alt="Picture">
				</a>
				<div class="desc">The House. After hours</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image10.jpg">
				<img src="pics/image10.jpg" alt="Picture">
				</a>
				<div class="desc">"Come at me bro" -Brother Isaac shortly before getting wrecked in football</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image11.jpg">
				<img src="pics/image11.jpg" alt="Picture">
				</a>
				<div class="desc">And there's the kickoff</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image12.jpg">
				<img src="pics/image12.jpg" alt="Picture">
				</a>
				<div class="desc">The Brothers racing towards the ol' pigskin</div>
			</div>

			<div class="img">
				<a target="_blank" href="pics/image13.jpg">
				<img src="pics/image13.jpg" alt="Picture">
				</a>
				<div class="desc">Brother Glen is unstoppable</div>
			</div>
		</div>

		<div id="background"></div>

		<div id="footer">
			Theta Upsilon. In ZAX
		</div>
	</body>
</html>
