<!DOCTYPE html>

<html>
	<head>
		<title>LXA Profile Page</title>
		<meta charset="utf-8"/>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<!-- <div id="nav">
	    <ul>
	      <li><a href="index">Home</a>
	        <ul>
	          <li><a href="minutes">LXA Minutes</a></li>
	          <li><a href="highzetareport">High Zeta Reports</a></li>
	        </ul>
	      </li>
	      <li><a href="calendar">Calendar</a></li>
	      <li><a href="fall2015">Gallery</a>
	        <ul>
	          <li><a href="#">Fall 2010</a></li>
	            <li><a href="#">Spring 2011</a></li>
	            <li><a href="#">Fall 2011</a></li>
	            <li><a href="#">Spring 2012</a></li>
	            <li><a href="#">Fall 2012</a></li>
	            <li><a href="#">Spring 2013</a></li>
	            <li><a href="#">Fall 2013</a></li>
	            <li><a href="#">Spring 2014</a></li>
	            <li><a href="#">Fall 2014</a></li>
	            <li><a href="#">Spring 2015</a></li>
	            <li><a href="fall2015">Fall 2015</a></li>
	        </ul>
	      </li>

	      <li><a href="actives">Roster</a>
	        <ul>
	            <li><a href="actives">Actives</a></li>
	            <li><a href="officers">Officers</a></li>
	            <li><a href="brothers">Brothers</a></li>
	        </ul>
	      </li>

	      <li><a href="chatroom">Chatroom</a></li>

	      <li class="right-side">
	        <a href="login">My Account</a>
	        <ul>
	          <li><a href="profile">Profile</a></li>
	          <li><a href="#">Sign Off</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div> -->

		<form action="/login" method="post">

		  <div>
		    <input type="text" placeholder="username" value="{{brother.username}}" name="username">
		  </div>

		  <div>
		    <input type="text" placeholder="password" value="{{brother.pass}}" name="pass">
		  </div>

		  <div>
		    <input type="submit" value="Login">
		  </div>
		</form>


		<!-- <form action="/login" method="post">
	    <div>
	        <label>Username:</label>
	        <input type="text" name="username"/>
	    </div>
	    <div>
	        <label>Password:</label>
	        <input type="password" name="password"/>
	    </div>
	    <div>
	        <input type="submit" value="Log In"/>
	    </div>
		</form> -->

		<div id="background"></div>

		<div id="footer">
			Theta Upsilon. In ZAX
		</div>

<html>
